# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Credentials
*.json
!package.json

# Docker
Dockerfile
.dockerignore
